 [Unit]
 Description=Word Clock service
 After=multi-user.target

 [Service]
 Type=idle
 WorkingDirectory=/home/pi/
 User=pi
 ExecStart=/usr/bin/python3 /home/pi/WordClock/runClock.py > /home/pi/clock.log 2>&1

 [Install]
 WantedBy=multi-user.target

