table.clock {
  background-color: black;
  width: 300px;
  height: 300px
}


table.clock td {
  align-content: center;
  text-align: center;
  font-weight: bold;
  color: white
}

table.clock td.selected {
  color: red;
}

input.colorInput {
  cursor: pointer;
}

div.alert-bottom {
  position: fixed;
  bottom: 5px;
  left: 2%;
  width: 96%;
}
